.sec1 h2 {
    margin: 100px 0;
}
@media screen and (max-width: 768px) {
    .sec1 h2 {
        font-size: 60px;
    }
}
.profile {
    background: #FFFFFF;
    box-shadow: 0px 3px 19px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px;
    margin: 0 5px;
}
.profile-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.name {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
}
.location p {
    color: #3D80FF;
}
.blue-text {
    color: #3D80FF;
}
.gray-text {
    color: #a4a4a4;
}
.date {
    background: #FFFFFF;
    border: 1px solid #a4a4a4;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    width: 60%;
}
.time {
    background: #3D80FF;
    border-radius: 23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 10px;
}
.price-sec {
    background: #FFFFFF;
    border: 1px solid #a4a4a4;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.params {
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 30px;
    margin-left: 30px;
}
.search {
    background: #3D80FF;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.doc {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #3D80FF;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
}
.sort {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priem {
    background: #EDECEE;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.light {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}
.pad10 {
    padding: 10px;
}
.pricex-text {
    color: #a4a4a4;
}
.dark {
    color: black;
}
.times-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.times {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 30px;
}
.ok {
    background: #3D80FF;
    color: white;
    border: none;
}
.type {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
}
.blue-type {
    background: #3D80FF;
    color: white;
    border: none;
    width: 70%;
}
.more {
    background: #FFFFFF;
    border: 3px solid #3D80FF;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .o-header {
        display: flex;
        flex-direction: column;
    }
    .o-types {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .all {
        padding: 12px 30px;
        background: #3D80FF;
        border-radius: 20px;
        color: white;
        width: 85%;
        align-self: center;
        margin-top: 20px;
    }
    .plus {
        padding: 8px 30px;
        margin-top: 15px;
        border: 1px solid #A3DB5C;
        box-sizing: border-box;
        border-radius: 20px;
        color: #A3DB5C;

    }
    .plus img, .minus img {
        margin-left: 0;
    }
    .minus {
        padding: 8px 30px;
        margin: 15px 0 0 0;
        border: 1px solid #B40000;
        box-sizing: border-box;
        border-radius: 20px;
        color: #B40000;
    }
    .moreMedia {
        width: 80%;
        margin: 20px auto;
    }
    .go-center h2 {
        font-weight: 700;
        font-size: 45px;
        line-height: 77px;
    }
    .main {
        margin: 50px 0;
    }
    .profile {
        font-size: 1.4em;
    }
    .location {
        margin-bottom: 40px;
    }
    .date {
        width: 100%;
        margin-bottom: 20px;
    }
    .type {
        width: 100%;
    }
    .blue-type {
        width: 100%;
    }
    .mt4 {
        margin-top: 20px;
    }
}
