{% extends "shared/base.html" %}


{% block title %}
  <title>Create a Doctor Post</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Create a Doctor Profile</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="fullname" value="{{fullname}}" placeholder="Doctor fullname here">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Specialization" name="spec" value="{{spec}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Doctor salary" name="salary" value="{{salary}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Doctor tod" name="tod" value="{{tod}}" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" required name="description" id="exampleFormControlTextarea1" rows="3">{{description}}</textarea>
          <div id="help" class="form-text">Please provide complete Doctor description,requirements,perks and benefits.</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}