fastapi
uvicorn
jinja2
aiofiles
sqlalchemy
psycopg2
python-dotenv
pydantic[email]
passlib[bcrypt]
pytest
requests
python-jose
pre-commit
python-multipart
databases
databases[sqlite]
asyncpg
aiosqlite
seedir