<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/signup.css') }}">
    <title>Dariger</title>
</head>
<body>
<div class="main">
    <img src="{{ url_for('static', path='/images/logo.svg') }}" alt="">
    <form method="POST">
        <div class="mb-3 text-input">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input type="text" required class="form-control" name="username"
              value="{{username}}" placeholder="username" id="exampleInputUsername">
        </div>
        <div class="mb-3 text-input">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" required class="form-control" name="email"
            value="{{email}}" placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 text-input">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" required class="form-control" name="password"
            value="{{password}}" placeholder="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>